* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header,
.cards,
.phrase,
.prefooter {
    padding-inline: 15%;
    padding-block: 30px;
}

.header,
.footer {
    background-color: #1f2937;
}

.nav {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.nav__link,
.card {
    text-decoration: none;
    list-style: none;
}

.nav__logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.nav__link-container {
    display: flex;
    gap: 20px;
}

.header__text-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
    text-transform: uppercase;
}

.header__content {
    display: flex;
    gap: 30px;
}

.header__text,
.nav__link,
.footer,
.prefooter__card,
.header__text-btn,
.prefooter__card-btn {
    color: #e5e7eb;
}

.header__content-img {
    width: 700px;
    height: 150px;
}

.header__text-btn {
    border: none;
}

.prefooter__card-btn {
    border: solid #e5e7eb 2px;
}

.header__text-btn,
.prefooter__card-btn {
    background-color: #3882f6;
    border-radius: 6px;
    padding: 5px;
    font-weight: bolder;
    width: 90px;
    height: 30px;
}

.header__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prefooter__card {
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding-block: 30px;
    padding-inline: 50px;
    align-items: center;
}
